/**
公共样式
创建于:2019-02-22
创建人:ch
创建人邮箱:785453959@qq.com
**/
label{
  font-size: 15px;
}
.wh150{
  width: 175px;
}
.wh100{
  width: 100%;
  height: 100%;
}

/**表格**/
.table-button{
  padding-left: 5px;
  border-top: 1px solid #ebeef5;
  border-left: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
  background: linear-gradient(to top, #dbdada 0%,#E5E5E5 10%, #efeeee 100%,#ffffff)
}
.table-header-public{
  font-size: 13px;
  color: #666666;
  /*text-align: center!important;*/
  border-color: #ddd!important;
  background: linear-gradient(to top, #dbdada 0%,#E5E5E5 10%, #efeeee 100%,#ffffff)
}
.table-footer{
  height: 44px;
  box-sizing: border-box;
  padding: 8px 10px;
}
.table-choice{
  float: left;
  font-size: 13px;
  line-height: 28px;
  margin-left: 10px;
}


/**饿了么样式修改**/
.el-card__body{
  box-sizing: border-box;
}
.el-pagination{
  float: left;
  padding: 0!important;
}

.el-dialog__wrapper .el-dialog{
  width: 50%;
  position: absolute;
  margin-top: 0!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.el-dialog__wrapper .el-dialog .el-dialog__header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #00a0e9;
  padding: 5px 10px;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn{
  top: 10px!important;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close{
  color: #404040;
}




/**饿了么自定义样式**/
.el-icon-button{
  color: #333;
  font-size: 14px;
  margin-left: 0;
}
.el-icon-button span{
  margin-left: 5px!important;
}
